@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

/*RESET*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*VARIABLES*/

/*DEFAULT THEME*/
:root {
  --primary: #ffd21f;
  --primary-light: #fcd846;

  --accent: #ff751f;
  --accent-dark: #ff6201;
--font-chewy: "Chewy", sans-serif;
--font-poppins: "Poppins", sans-serif;
  --gradient: linear-gradient(to right, var(--primary), var(--accent));
}

/*HTML AND BODY*/
html,
body {
  width: 100%;
  height: 100dvh;
  color: var(--text-primary);
}

/*Smooth text rendering*/
body {
  color: #fff;
  background: var(--bg);
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-poppins);  
  background: var(--bg);
  -moz-osx-font-smoothing: grayscale;
}
.main-content {
    padding: 0;
  }
  .main-content-inner {
  padding: 0 var(--space-lg);

}
 
/*TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
.statsName {
  font-weight: 600;
  color: var(--text-primary);
}

p {
  margin-bottom: var(--space-md);
}
a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  color: var(--accent);
  text-decoration: underline;
}
.logo {
  font-size: 2rem;
  font-family: var(--font-chewy);  
  font-weight: 600;
  text-align: center;
  margin-top: var(--space-md);
}
.logo span {
  background: var(--gradient);
  background-clip: text;
  color: transparent;
}
.divider {
  background: var(--muted);
  color: var(--muted);
  display: block;
  width: 100%;
  height: 1px;
}
a .logo:hover {
  text-decoration: none;
}
.sidebar {
  z-index: 1;
  display: flex;
  flex-direction: column;
}
img {
  image-rendering: auto;
  backface-visibility: hidden;
  transform: translateZ(0);
}