<header class="sidebarHeader">
          <div class="logo">Canv<span>Art</span></div>
        </header>
        <div class="divider"></div>

        <nav class="sidebarNav">
          <a href="explore.html" class="nav-btn">Explore</a>
          <a href="collections.html" class="nav-btn">Collections</a>
          <a href="artists.html" class="nav-btn">Artists</a>
        </nav>

        <div class="sidebarBottom">
          <div class="userInfo">
            <img src="assets/images/canvart-logo.png" alt="My avatar" id="sidebarAvatar" class="userAvatar"> 

            <div class="userInfoContent">
              <span id="sidebarName" class=" text-bold">Abdulroqib Oladipo</span>
              <a href="profile.html/abdulroqib" id="sidebarUsername" class="username">@abdulroqib</a>
            </div>
          </div>

          <button type="button" class="logoutBtn" id="logoutBtn"><svg width="20" height="20" viewBox="0 0 24 24" fill="none" 
     stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
  <path d="M15 3h4v18h-4" />
  <path d="M10 17l5-5-5-5" />
  <path d="M15 12H3" />
</svg>
</button>
        </div>