    <section class="modal-container">

<form class="card form">
  <div class="section-header">
                  <h2 class="section-title">New Collection</h2>

                  <!--CLOSE BUTTON-->
                  <button type="button" class="closeModalBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3.5" y="3.5" width="17" height="17" rx="6" ry="6" fill="currentColor" opacity="0.06" />
                    <path d="M9 9l6 6M15 9l-6 6" />
                  </svg>
                </button>
              </div>
               <label for="collectionThumbnailInput">Thumbnail</label> 
<input type="file" name="collectionThumbnailInput" id="collectionThumbnailInput" class="inputField" required>
<img src="" id="imagePreview">

<label for="collectionName" class="label">Name</label>
<input type="text" class="inputField" id="collectionName" placeholder="e.g Favorites" required>

<label for="collectionDescription">Description(Optional)</label>
<textarea type="text" name="collectionDescription" id="collectionDescription" class="inputField textArea" placeholder="Describe what this collection is for"></textarea>

<button type="button" class="btn" id="createCollectionBtn">Create Collection</button>
</form>
    </section>