    <section class="modal-container">

<form class="card form">
  <div class="section-header">
                  <h2 class="section-title">Upload</h2>

                  <!--CLOSE BUTTON-->
                  <button type="button" class="closeModalBtn">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="1.7" stroke-linecap="round" stroke-linejoin="round">
                    <rect x="3.5" y="3.5" width="17" height="17" rx="6" ry="6" fill="currentColor" opacity="0.06" />
                    <path d="M9 9l6 6M15 9l-6 6" />
                  </svg>
                </button>
              </div>
                
<input type="file" name="artworkInput" id="artworkInput" class="inputField">
<img src="" id="imagePreview">

<label for="artworkTitle" class="label">Title(Optional)</label>
<input type="text" class="inputField" id="artworkTitle" placeholder="e.g Mother Of Earth">

<label for="artworkDescription">Caption</label>
<textarea type="text" name="artworkDescription" id="artworkDescription" class="inputField textArea" placeholder="Share why you made this masterpiece"></textarea>

<button type="button" class="btn" id="uploadArtworkBtn">Upload</button>
</form>
    </section>