
   <section class="modal-container">
  <div class="request-auth card" id="requestAuth">

    <div class="section-header">
      <h2 class="section-title">Login to continue</h2>

      <!-- Close Button -->
      <button type="button" class="closeModalBtn">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
             viewBox="0 0 24 24" fill="none"
             stroke="currentColor" stroke-width="1.7"
             stroke-linecap="round" stroke-linejoin="round">
          <rect x="3.5" y="3.5" width="17" height="17" rx="6" ry="6"
                fill="currentColor" opacity="0.06" />
          <path d="M9 9l6 6M15 9l-6 6" />
        </svg>
      </button>
    </div>

    <div class="card-content">
      <p>You need to login to continue exploring CanvArt.</p>

      <div class="cardActions">
        <a href="https://joincanvart.vercel.app/auth/" class="btn btn-no-bg">Login</a>
        <a href="https://joincanvart.vercel.app/auth/register" class="btn">Create account</a>
      </div>
    </div>

  </div>
</section>